<html>
<head>
  <title>Manage</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="my_styles.css">
</head>
<body>
  <div class="col-sm-6 col-sm-offset-3">

  <h3>
Select up to 20 people from each network:
  </h2>
  <div class="row">
  </div>

    <div class="col-sm-2 col-xs-4">
      <div class="checkbox">
        <img src="http://www.socialable.co.uk/wp-content/uploads/2013/06/Facebook_like_thumb.png" class="img-thumbnail" alt="responsive image">
        4/612

        <div class="row">
        </div>

        <label>
              <input type="checkbox" value=""> Friend 1
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Friend 2
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Friend 3
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Friend 4
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Friend 5
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox" value=""> Friend 6
        </label>
      </div>
    </div>
  <div class="col-sm-2 col-xs-4">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtl13EivwsVkGBOp21h_VYsIyGcaS4ktX4meOe8S1Q5i2HP6eEIQ" class="img-thumbnail">
      12/68
    </div>
  <div class="col-sm-2 col-xs-4">
      <button type="button" class="btn btn-primary btn-lg btn-block">n #3</button>
      20/32
    </div>
  <div class="col-sm-2 col-xs-4">
      <button type="button" class="btn btn-primary btn-lg btn-block">n #4</button>
      2/14
    </div>
  <div class="col-sm-2 col-xs-4">
      <button type="button" class="btn btn-primary btn-lg btn-block">n #5</button>
      2/19
    </div>
  <div class="col-sm-2 col-xs-4">
      <button type="button" class="btn btn-primary btn-lg btn-block">add</button>
    </div>
  </div>

  <div class="row">
  </div>


  <div class="row">
  </div>


  <div class="row">
  <div class="col-sm-6 col-sm-offset-3">
      <a class="btn btn-xs  btn-primary pull-right">
        Save
      </a>
    </div>
  </div>
    
</body>
</html>
