<html>
<head>
  <title>Upload</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="my_styles.css">
</head>
<body>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <div class="col-sm-2 col-xs-4">
      <img src="http://www.socialable.co.uk/wp-content/uploads/2013/06/Facebook_like_thumb.png" class="img-thumbnail" alt="responsive image">
      <div class="checkbox">
            <label>
              <input type="checkbox" value="">
            </label>
          </div>
    </div>
  <div class="col-sm-2 col-xs-4">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtl13EivwsVkGBOp21h_VYsIyGcaS4ktX4meOe8S1Q5i2HP6eEIQ" class="img-thumbnail">
            <div class="checkbox">
            <label>
              <input type="checkbox" value="">
            </label>
          </div>
    </div>
  <div class="col-sm-2  col-xs-4">
      <button type="button" class="btn btn-primary btn-lg btn-block">n #3</button>
            <div class="checkbox">
            <label>
              <input type="checkbox" value="">
            </label>
          </div>
    </div>
  <div class="col-sm-2 col-xs-4">
      <button type="button" class="btn btn-primary btn-lg btn-block">n #4</button>
            <div class="checkbox">
            <label>
              <input type="checkbox" value="">
            </label>
          </div>
    </div>
  <div class="col-sm-2 col-xs-4">
      <button type="button" class="btn btn-primary btn-lg btn-block">n #5</button>
            <div class="checkbox">
            <label>
              <input type="checkbox" value="">
            </label>
          </div>
    </div>
  <div class="col-sm-2 col-xs-4">
      <button type="button" class="btn btn-primary btn-lg btn-block">add</button>
    </div>
  </div>

  <div class="row">
  </div>

  <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <img src="http://media.jrn.com/images/620wtmj_superbowl.jpg" class="img-thumbnail" alt="responsive image">
    </div>
  </div>

  <div class="row">
  </div>


  <div class="row">
  <div class="col-sm-6 col-sm-offset-3">
    <textarea class="form-control" rows="3"></textarea>
      <a class="btn btn-xs  btn-primary pull-right">
        Post
      </a>
    </div>
  </div>

</body>
</html>
