<html>
<head>
  <title>AtZ Cloud</title>
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.css">
  <link rel="stylesheet" href="my_styles.css">
</head>
<body>
    <form class="form-inline" role="form">
      <div class="form-group">
        <label class="sr-only" for="exampleInputEmail2">Email address</label>
        <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label class="sr-only" for="exampleInputPassword2">Password</label>
        <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password">
      </div>
      <div class="checkbox">
        <label>
          <input type="checkbox"> Remember me
        </label>
      </div>
      <button type="submit" class="btn btn-default">Sign in</button>
    <a class="btn btn-primary btn-large" href="#">*Upload*</a>
    <a class="btn btn-primary btn-large" href="#">Manage</a>
    <a class="btn btn-success btn-large" href="#">Facebook</a>
    <a class="btn btn-success btn-large" href="#">Twitter</a>
    <a class="btn btn-warning btn-large" href="#">Add Network</a>
  </form>

  <div class="row">
  </div>
  
  <div class="row">
    <div class="col-sm-4 col-lg-2  col-md-3 col-xs-6">
      <img src="http://www.socialable.co.uk/wp-content/uploads/2013/06/Facebook_like_thumb.png" class="img-thumbnail" alt="responsive image">
      <img src="http://www.technologeek.net/wp-content/uploads/2013/04/facebook-logo.jpg" class="img-thumbnail" alt="responsive image">
      <img src="http://images.dailytech.com/nimage/facebook-testing-new-timeline-format-with-single-column-of-posts-updated--8395815038.jpg" class="img-thumbnail" alt="responsive image">
      <img src="http://img.digitaltrends.com/image/facebook_like_button_blue-625x1000.jpg" class="img-thumbnail" alt="responsive image">
    </div>
    <div class="col-sm-4 col-lg-2  col-md-3 col-xs-6">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtl13EivwsVkGBOp21h_VYsIyGcaS4ktX4meOe8S1Q5i2HP6eEIQ" class="img-thumbnail">
      <textarea class="form-control" rows="3"></textarea>
      <a class="btn btn-xs  btn-primary pull-right">
        Post
      </a>
    </div>
    <div class="col-sm-4 col-lg-2 col-md-3  col-xs-6">
      <img src="http://img.digitaltrends.com/image/facebook_like_button_blue-625x1000.jpg" class="img-thumbnail" alt="responsive image">
      <img src="http://www.cornonthejob.com/wp-content/uploads/2012/03/Pinterest_Logo_2.png" class="img-thumbnail">
    </div>
    <div class="col-sm-4 col-md-3 col-lg-2 col-xs-6">
      <img src="http://www.droid-life.com/wp-content/uploads/2012/04/instagram-logo-onex-1.jpg" class="img-thumbnail">
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTtl13EivwsVkGBOp21h_VYsIyGcaS4ktX4meOe8S1Q5i2HP6eEIQ" class="img-thumbnail">
    </div>
    <div class="col-sm-4 col-lg-2  col-md-3 col-xs-6">
      <img src="http://sustainabilitymanagement2013.files.wordpress.com/2013/02/linkedin-logo.png?w=300&h=300" class="img-thumbnail">
      <img src="http://images.dailytech.com/nimage/facebook-testing-new-timeline-format-with-single-column-of-posts-updated--8395815038.jpg" class="img-thumbnail" alt="responsive image">
    </div>
    <div class="col-sm-4 col-lg-2 col-xs-6 col-md-3 ">
      <img src="http://cdn.business2community.com/wp-content/uploads/2013/06/Marketing-Best-Practice-with-Google-Plus-Business-pages.png" id="popover" data-trigger="hover"class="img-thumbnail">
      <img src="http://www.andrewspenceonline.com/wp-content/uploads/2013/07/tumblr-1.png" class="img-thumbnail">
      <img src="http://b-i.forbesimg.com/parmyolson/files/2013/06/snapchat.jpg" class="img-thumbnail">
    </div>
  </div>
  
<div class="row">
  </div>

  </div>
    <footer>&#169; AtZ Cloud, LLC 2013</footer>
  </div>

</body>
</html>
